<div class="panel panel-info">
  <div class="panel-colorize gradient-diag1">
    <div class="panel-heading no-padding">
      <div class="row">
        <div class="col-sm-6">
          <div class="padded text-center-xs">
            <div class="reportrange">
              <i class="icm icm-calendar2"></i>
              <span></span>
              <b class="caret"></b>
            </div>
            <input type="checkbox" value="option2"
                   checked rel="icheck" class="checkable-info margin-left">
            External
          </div>
        </div>
        <div class="col-sm-6 text-right text-center-xs">
          <ul class="nav nav-tabs nav-tabs-no-arrow nav-tabs-inline">
            <li class="active"><a href="#traffic" data-toggle="tab"><i class="icm icm-chart"></i> <span>Traffic</span></a></li>
            <li><a href="#server" data-toggle="tab"><i class="icm icm-database3"></i> <span>Server</span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="traffic">
        <div class="row">
          <div class="col-sm-8">
            <div class="panel-body no-padding-top">
              <div class="flot-transparent-line tile-normal"></div>
            </div>
          </div>

          <div class="col-sm-4 pull-left-lg no-pull-xs">
            <div class="tile-normal">

              <div class="panel-body no-padding-top">
                <% actions = %w(TRACKED VISITS CUSTOMERS) %>
                <table class="table-full push-bottom">
                  <% 3.times do |i| %>
                      <tr>
                        <td>
                          <h5 class="base-header major"><%= actions[i] %></h5>
                        </td>
                        <td class="text-right">
                          <h3 class="base-header text-right">
                            <%= number_with_delimiter lorem.number(3) %>
                          </h3>
                        </td>
                      </tr>
                  <% end %>
                </table>

                <div class="progress flat-progress" rel="tooltip" title="60% complete">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>

                <div class="clearfix">
                  <h5 class="pull-left base-header major">Today</h5>
                  <h5 class="base-header major">
                    <span class="pull-right box-label">
                      <%= number_with_delimiter lorem.number(2) %>
                    </span>
                  </h5>
                </div>
                <br>
                <div class="row padded">
                  <div class="btn-group btn-block">
                    <button type="button" class="btn panel-lt col-xs-10 col-sm-10 col-md-10">Generate report</button>
                    <button type="button" class="btn panel-lt dropdown-toggle col-xs-2 col-sm-2 col-md-2"
                            data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="server">

        <div class="row padded-top">
          <% ['CPU Usage', 'RAM Usage', 'HDD Usage'].each do |title| %>
              <% percent = (30..80).to_a.sample %>

              <div class="col-sm-4 text-center">
                <div class="easy-pie-chart easy-pie-chart-normal"
                     data-percent="<%= percent %>"
                     data-color="white"
                     data-size="140"
                     data-line-width="8"
                     data-scale-color="false"
                     data-track-color="rgba(255,255,255,0.3)">
                  <span><%= percent %>%</span>
                </div>
                <div class="padded">
                  <h3 class="no-margin-top"><%= title %></h3>
                  <p><a href="#">Manage <%= title.split.first %> Resources</a></p>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>