<!doctype html>
<html lang="en" class="high">
<head>
<%= partial 'layouts/head' %>
</head>

<body class="high emerald-default <%= page_classes %>">
<%= yield_content :top %>
<%= partial 'layouts/jump_to' %>
<%= yield %>
<%= yield_content :bottom %>

<!-- Needed by BSE.Mq.screen() helper in utils.js -->
<div id="mq"></div>

<!-- Needed by EmVars helper in _emerald.js -->
<div id="emvars"></div>

</body>
</html>
