<div class="container-fluid turbo-cols-static turbo-grid-wrap">
  <div class="turbo-grid">

    <div class="row">
      <div class="col-md-6 col-lg-3">
        <%= partial 'htmls/widgets/carousel_stats.html' %>
      </div>

      <div class="col-md-6 col-lg-3">
        <%= partial 'htmls/widgets/carousel_images.html' %>
      </div>

      <div class="col-md-6 col-lg-3">
        <%= partial 'htmls/widgets/carousel_tweets.html' %>
      </div>

      <div class="col-md-6 col-lg-3">
        <%= partial 'htmls/widgets/carousel_stats2.html' %>
      </div>
    </div>

    <div class="row" rel="panels">

      <div class="col-md-4 panels" id="<%= rid() %>">
        <%= partial 'htmls/widgets/user_box' %>
        <%= partial 'htmls/widgets/nav_justify_up' %>
        <%= partial 'htmls/widgets/nav_menu' %>
      </div>

      <div class="col-md-4 panels" id="<%= rid() %>">
        <%= partial 'htmls/widgets/sort_by' %>
        <%= partial 'htmls/widgets/calendar_note' %>
        <%= partial 'htmls/widgets/user_box_stats' %>
      </div>

      <div class="col-md-4 panels" id="<%= rid() %>">
        <%= partial 'htmls/widgets/card_box' %>
        <%= partial 'htmls/widgets/inline_calendar' %>
        <%= partial 'htmls/widgets/box', locals: { color: 'primary' } %>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6 panels" id="<%= rid() %>">
        <%= partial 'htmls/widgets/chat_box_timeline', locals: { shadow: true, panel_bg: 'panel-white' } %>
      </div>

      <div class="col-md-6 panels" id="<%= rid() %>">
        <%= partial 'htmls/widgets/post_horizontal' %>
        <%= partial 'htmls/widgets/chart_horizontal' %>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <%= partial 'htmls/widgets/line_table' %>
    </div>
  </div>
</div>
