<%
tabs_number = 10 unless defined?(tabs_number) && !tabs_number.nil?
attrs = '' unless defined?(attrs) && !attrs.nil?
title = '' unless defined?(title) && !title.nil?
kind = 'nav-tabs' unless defined?(kind) && !kind.nil?

id = uid()
ids = (1 .. tabs_number - 1).map { uid() }
%>


<div class="panel panel-success" id="<%= rid() %>">

  <div class="panel-header panel-handle panel-colorize">
    <div class="panel-actions pull-right panel-actions-reveal">
      <span class="panel-actions-reveal-hide animated fadeInRight">
        <%= partial 'htmls/panels/actions' %>
      </span>
      &nbsp;&nbsp;
      <i class="fa fa-bars panel-actions-reveal-icon"></i>
    </div>
    <ul class="nav <%= kind %> panel-actions-sibling" <%= attrs %>>
      <li class="active">
        <%= link_to lorem.word.capitalize, '#' + id, 'data-toggle' => 'tab' %>
      </li>
      <% ids.each_with_index do |id, i| %>
        <li>
          <%= link_to lorem.word.capitalize, '#' + id, 'data-toggle' => 'tab' %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="panel-body-collapse collapse in">
    <div class="panel-body tab-content">
      <div class="tab-pane fade in active" id="<%= id %>">
        <h4><%= title %></h4>
        <p><%= lorem.paragraph %></p>
      </div>
      <% ids.each_with_index do |id, i| %>
        <div class="tab-pane fade in" id="<%= id %>">
          <p><%= lorem.paragraph %></p>
        </div>
      <% end %>
    </div>
  </div>

</div>